<% include ../partials/header %>

<h1>Sign up!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholer="username">
    <input type="password" name="password" placeholer="password">
    <button>Submit</button>
</form>

<% include ../partials/footer %>